.header1 > .logo {
  fill: red;
  height: 45px;
  width: 167px;
}

.container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url("../assets/website/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 3em;
  border-radius: 4px;
  width: 450px;
}

.login-container > form {
  display: flex;
  flex-direction: column;
}

.login-container > * + * {
  margin-top: 1.5em;
}

form > * + * {
  margin-top: 1.5em;
}

.input {
  padding: 1em 1.25em;
  color: white;
  height: 50px;
  line-height: 50px;
  border: 0;
  border-radius: 4px;
  background-color: #333;
  font-size: 1rem;
}

.input::placeholder {
  font-size: 1rem;
}

input:focus-visible {
  outline: 0;
  background-color: #454545;
}

.login-button {
  margin-top: 3em;
  background-color: red;
  outline: none;
  color: white;
  border: none;
  padding: 1em 1.5em;
  border-radius: 4px;
  font-weight: bold;
}

.login-button:hover {
  opacity: 0.9;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 1rem;
  border: 1px red solid;
  border-radius: 4px;
  padding: 1em 1.5em;
}

.remember-me-group {
  display: flex;
  align-items: center;
  position: relative;
}

.remember-me {
  margin-right: 0.5em;
  -o-appearance: none;
  appearance: none;
  outline: none;
  border-radius: 4px;
  background-color: #b3b3b3;
  cursor: pointer;
  height: 17.5px;
  width: 17.5px;
}

.remember-me:checked + label:before {
  content: "\2713";
  display: block;
  text-align: center;
  color: black;
  position: absolute;
  left: 0.25rem;
  top: 0rem;
  font-weight: 900;
}

.remember-me-label {
  color: #b3b3b3;
  font-size: 0.8rem;
}

.login-title {
  font-weight: bold;
  color: white;
  font-size: 2rem;
  margin-bottom: 0.5em;
}

.login-footer {
  color: #737373;
}

.login-footer a {
  color: white;
}

.login-footer a:hover {
  text-decoration: underline;
}
